html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: "Poppins" , sans-serif;
}
.topnav {
  background-color: #5b21b6;
  overflow: hidden;
  font-family: "Poppins" , sans-serif;
}

.topnav a {
  float: center;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.thisisstratosphere {
   float: center;
  text-align: center;
}


